<%= form_for(booking,:html => {:class => 'form'}) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :booking %>
    <%= f.datetime_local_field(:booking, class:"form-control") %>
  </div>

    <div class="form-group">
      <%= f.label :room_id %>
      <%= select("booking", "room_id", Room.all.collect{ |c| [ c.number, c.id] },class:"form-control") %>
    </div>
    <% if logged_in_as_admin?%>
    <div class="form-group">
      <%= f.label :user_id %>
      <%= select("booking", "user_id", User.all.collect{ |c| [ c.name, c.id] },class:"form-control") %>
    </div>


  <div class="form-group">
    <%= f.label :cancelled_by %>
    <%= f.text_field(:cancelled_by,class:"form-control") %>
  </div>
    <% end%>
  <div class="form-group">
    <%= f.label :cancelled %>
    <%= f.check_box(:cancelled) %>
  </div>

  <div class="form-group">
    <%= f.label :booked_by %>
    <%= f.text_field(:booked_by,class:"form-control") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
