<p id="notice"><%= notice %></p>

<p>
  <strong>Booking:</strong>
  <%= @booking.booking %>
</p>

<p>
  <strong>Cancelled by:</strong>
  <%= @booking.cancelled_by %>
</p>

<p>
  <strong>Cancelled:</strong>
  <%= @booking.cancelled %>
</p>

<p>
  <strong>Booked by:</strong>
  <%= @booking.booked_by %>
</p>

<!-- %= link_to 'Edit', edit_booking_path(@booking) %> |-->
<%= link_to 'Back', bookings_path %>
