<p id="notice"><%= notice %></p>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<h3><span class="label label-primary">Users</span></h3>
<br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Is admin</th>
      <th>Is root</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <%if user.is_admin == true%>
        <td><%= "True" %></td>
            <%else%>
            <td><%= "False" %></td>
            <%end%>
        <td><%= user.is_root %></td>
      <%if user.is_admin == true%>
            <td><%= link_to 'Manage Admin', edit_user_path(user) %></td>
            <%else%>
            <td><%= link_to 'Manage Library Member', edit_user_path(user) %></td>
            <%end%>
        <td><%= link_to 'Show', (user) %></td>
        <%if user.is_root != true && logged_in_as_admin? && user.id!=session[:user_id]%>
        <td><%= button_to 'Delete', user, method: :delete %></td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-sm-3"><%= link_to 'New User', new_user_path %></div>
 <!-- <div class="col-sm-3">%= link_to 'New Room', new_room_path %></div>
    <div class="col-sm-3">%= link_to 'New Booking', new_booking_path %></div>
      <div class="col-sm-3">%= link_to "Login to continue", sessions_new_path %></li></div> -->