<p id="notice"><%= notice %></p>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Is admin</th>
      <th>Is root</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.is_root %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-sm-3"><%= link_to 'New User', new_user_path %></div>
  <div class="col-sm-3"><%= link_to 'New Room', new_room_path %></div>
    <div class="col-sm-3"><%= link_to 'New Booking', new_booking_path %></div>
      <div class="col-sm-3"><%= link_to "Login to continue", sessions_new_path %></li></div>