<% provide(:title, @current_user.name) %>
<p id="notice"><%= notice %></p>
<%= render 'users/users_common' %>
<br/>
<p>
<h1><span class="label label-primary">Welcome <%= @current_user.name %>  </span></h1>
</p>
<br/><br/>
<p>
  <% if logged_in? %>
      <%= render 'users/user_search_box' %>
      <br/>
      <%= render 'rooms/room_search_box' %>
  <% end %>
</p>
<br/>

