<% provide(:title, "Room search") %>
<br/>
<div>
<p>
	<%= render 'rooms/room_search_box' %>
</p>
Displaying search results for "<%= @query %>"
<ul>
  <table class="table table-striped">
	<thead>
	  <tr>
		<th>Room Number</th>
		<th>Status</th>
		<th>Building</th>
		<th>Size</th>
		<th colspan="3"></th>
	  </tr>
	</thead>


	<tbody>
<% @rooms.each do |room| %>
		<tr>
      <td><%= room.number%></td>
      <td><%= room.status%></td>
      <td><%= room.building%></td>
      <td><%= room.size%></td>
      <% if logged_in_as_admin? %>
          <td><%= button_to "Update Room", edit_room_path(room), method: :get %></td>
          <b><td><%= link_to 'View Schedule for today', "/rooms/schedule_room/#{room.id}" %></td></b>
	  <td><%= button_to 'Delete Room',room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
          </tr>
<% end %>
	</tbody>
  </table>
</ul>
</div>
