<!DOCTYPE html>
<html>
  <head style="margin-bottom: auto">
    <title><%= yield(:title) %> | Library</title>
    <%= csrf_meta_tags %>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <%= javascript_include_tag :defaults%>
    <%if(logged_in? && logged_in_as_admin?)%>
        <header class="navbar navbar-fixed-top row" style=" background-color: #76e5e7 ;margin-bottom: 10px;">
            <nav>
              <ul class="nav nav-pills">
                <li role="presentation"><div class="col-md-8"><span class="label label-success">Welcome <%= @current_user.name %>  </span></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to 'Home', root_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to 'New User', new_user_path %></div></li>
                <li role="presentation" > <div class="col-md-3"><%= link_to 'New Room', new_room_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to 'New Booking', new_booking_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to "Manage Users", users_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to "Manage Rooms", rooms_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to "Manage Bookings", bookings_path %></div></li>
                <li role="presentation" ><div class="col-md-3"><%= link_to "Edit My Profile", edit_user_path(@current_user.id) %></div></li>
                <li role="presentation"><div class="col-md-6"><span class="glyphicon glyphicon-off" aria-hidden="true"><%= link_to "Logout", logout_path %></span></div></li>
              </ul>
            </nav>
        </header><%end%>
    <%if(logged_in? && !logged_in_as_admin?)%>
        <header class="navbar navbar-fixed-top row" style=" background-color: #76e5e7 ;margin-bottom: 10px;">
          <nav>
            <ul class="nav nav-pills">
              <li role="presentation"><div class="col-md-8"><span class="label label-success">Welcome <%= @current_user.name %>  </span></div></li>
              <li role="presentation" ><div class="col-md-3"><%= link_to 'Home', root_path %></div></li>
              <li role="presentation" ><div class="col-md-3"><%= link_to 'New Booking', new_booking_path %></div></li>
              <li role="presentation" ><div class="col-md-3"><%= link_to "Manage Bookings", bookings_path %></div></li>
              <li role="presentation" ><div class="col-md-3"><%= link_to "Edit My Profile", edit_user_path(@current_user.id) %></div></li>
              <li role="presentation"><div class="col-md-6"><span class="glyphicon glyphicon-off" aria-hidden="true"><%= link_to "Logout", logout_path %></span></div></li>
            </ul>
          </nav>
        </header>

    <%end%>
  </head>

  <body style=" alignment: center">
  <br/>
  <br/>
    <%= yield %>
  </body>
</html>
